body {
    background-color: #21232C;
    font-family: 'Source Sans Pro', sans-serif;
}

#viewport {
    height: 100vh;
    display: block;
    position: relative;
}

#name-header {
    text-align: center;
    color: white;
    font-weight: lighter;
    letter-spacing: 0.2em;
}

#water {
    float: right;
    height: 300px;
    width: 11.8%;
    margin-right: 3.5%;
}

#water-canvas {
    height: 100%;
    width: 100%;
}

#sun {
    position: absolute;
    width: 95%;
}

#information {
    text-align: center
}

a {
    font-weight: 200;
    letter-spacing: 0.1em;
}

a, a:visited {
    color: white;
}

#resume-link {
    vertical-align: text-top;
}

.icon-link {
    padding-left: 10px;
    padding-right: 10px;
}

a:hover, a:active {
    color: grey;
}