* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  margin-right: 15px;
  font-family: "junctionbold", Arial, sans-serif;
  font-size: 100%;
  color: #262626; }

h1 {
  font-size: 6em;
  text-align: center;
  font-family: "junctionlight", Arial, sans-serif; }

h2 {
  font-size: 3em;
  text-align: center;
  font-family: "junctionlight", Arial, sans-serif; }
