body {
    font-family: 'junctionregular', Arial, sans-serif;
    font-size: 1em;

}

p {
    font-family: 'junctionregular', Arial, sans-serif;
    font-size: 1.5em;
    color: #000000;
}

h2 {
    color: cornflowerblue;
    font-family: 'junctionbold', Arial, sans-serif;
}

#splashBackground {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 2.7em;
    color: white;
    background-position: bottom;
}

.textured {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media all and (min-width: 768px) {
    #splashBackground {
        font-size: 3.5em;
        background-position: top;
    }
    #splashSection {
        padding-top: 3%;
    }
    p {
        font-size: 2em;
    }
}
@media all and (min-width: 992px) {
    #splashBackground {
        font-size: 4em;
    }
}
@media all and (min-width: 1200px) {
    body {
    }
}

h1 {
    text-align: center;
    font-family: 'junctionbold', Arial, sans-serif;
    font-size: 2em;
}

.fullHeight {
    height: 100%;
}

.navigation {
    font-family: 'junctionregular', Arial, sans-serif;
    font-size: 1em;
    color: white;
}

.padded {
    padding-right: 5%;
    padding-left: 5%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}