body {
	background-image: url(/images/background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 15px;
	font-family: 'junctionbold', Arial, sans-serif;
    font-size: 100%;
    color: rgb(38,38,38);

}
h1 {
    font-size: 9em;
    text-align: center;
    font-family: 'junctionbold', Arial, sans-serif;
}
h2 {
    font-size: 4em;
    text-align: center;
    font-family: 'junctionlight', Arial, sans-serif;;
}